<section id="contact">
    <div class="contact-area">
        <img src="" alt="">
        <form action="" netlify>
            <h1>Kontakt</h1>
            <h4>Nimm Kontakt zu uns auf</h4>
            <input type="text" name="name" placeholder="Vorname" required>
            <input type="text" name="surname" placeholder="Nachname" required><br>
            <input type="text" name="company" id="" placeholder="Firma" required><br>
            <input type="email" name="email" id="" placeholder="E-Mail Adresse" required><br>
            <textarea name="message" id="" cols="30" rows="10" placeholder="Nachricht" required></textarea><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

<footer>
    <!--FOOTER (small little things which are on every site e. g. content) o((*^ڡ^*))o-->

    <div style="height: 10px;"></div>
    <div class="footer-sm">
        <ul>
            <li>
                <button><a href="https://www.youtube.com/channel/UC2b-A7MEKCfoXvoRvTW2nfA" target="_blank"><i class='bx bxl-youtube' ></i></a></button>
            </li>

            <li>
                <button><a href="https://instagram.com/mapleink.software" target="_blank"><i class='bx bxl-instagram' ></i></a></button>
            </li>

            <li>
                <button><a href="https://tiktok.com/maple_ink.official" target="_blank"><i class='bx bxl-tiktok'></i></a></button>
            </li>

            <li>
                <button><a href="https://www.linkedin.com/company/maple-ink-web/" target="_blank"><i class='bx bxl-linkedin' ></i></a></button>
            </li>
        </ul>
    </div>

    <div class="divider50"></div>
    
    <div class="footer-sitemap">
        <div>
            <p><b>Lösungen</b></p>
            <ul>
                <li><a href="brand-content-creation">Brand Content Creation</a></li>
                <li><a href="website_building">Webdesign</a></li>
                <li><a href="seo">Suchmaschinenoptimierung</a></li>
            </ul>
        </div>

        <div>
            <p><b>Maple Ink</b></p>
            <ul>
                <li><a href="projects">Unsere Projekte</a></li>
                <li><a href="gastronomy">Gastronomie Webseiten</a></li>
                <li><a href="hotel">Hotel Webseiten</a></li>
            </ul>
        </div>

        <!--<div>
            <p><b>Partner</b></p>
            <ul>
                <li><a href="projects">Partner and Co.</a></li>
                <li><a href="gastronomy">The Partner Program</a></li>
                <li><a href="hotel">Another Partner's Company</a></li>
            </ul>
        </div>

        <div>
            <p><b>Das Team</b></p>
            <ul>
                <li><a href="projects">Emil Becher</a></li>
                <li><a href="gastronomy">Jonas Behr</a></li>
                <li><a href="hotel">Another Human Being</a></li>
            </ul>
        </div>  -->
    </div>

    <div class="divider100"></div>
    
    <div class="footer-bottom" id="footer">
        <div>
            <a href="https://maple-ink.com"><img class="footer_logo" src="/img/icons/final_icon_with_text.webp" alt="" width="140px"></a>
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="imprint">Impressum</a></li>
                <li><a href="data">Datenschutz</a></li>
                <li><a href="cookies">Cookies</a></li>
                <li><a href="gtc">AGBs</a></li>
            </ul>
        </div>
        <div class="divider50"></div>
    </div>

</footer>

