<header>
    <nav class="desktop-nav">
        <a href="/index.html">
            <div class="icon">
                <img src="/img/icons/icon.png" alt="">
                <h2>Maple Ink</h2>
            </div>
        </a>

        <ul class="menu">
            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>Branding</button>

                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="/corporate-branding"><b>Corporate Branding</b><br>For Business</a>
                        <a href="/personal-branding"><b>Personal Branding</b><br>For Indivuals</a>
                        <a href="/project-branding"><b>Product Branding</b><br>For Products</a>

                    </div>
                </div>
            </div>
            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>Web Design</button>

                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="/corporate-website"><b>Corporate Website</b><br>For Businesses</a>
                        <a href="/personal-website"><b>Portfolio Website</b><br>For Indivuals and Artists</a>
                        <a href="/ecommerce-website"><b>E-Commerce Website</b><br>For Shops and Stores</a>
                        <a href="/seo"><b>SEO</b><br>For Optimization</a>

                    </div>
                </div>
            </div>
            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>Social Media</button>

                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href=""><b>Social Media Strategy</b><br>Increasing Reach</a>
                        <a href=""><b>Social Advertisement</b><br>Paid Advertisement</a>
                        <a href=""><b>Public Relations</b><br>PR for Everyone</a>
                    </div>
                </div>
            </div>
        </ul>

        <div class="sm">

            <li><a href="/contact">Start your Project</a></li>
            
            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>DE</button>

                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="">EN</a>
                    </div>
                </div>
            </div>
        </div>

        
    </nav>

    <nav class="mobile-nav">
        <a href="/index.html">
            <div class="icon">
                <img src="/img/icons/icon.png" alt="">
                <h2>Maple Ink</h2>
            </div>
        </a>

        <ul class="menu">
            <li><a href="/brand-design">Brand Design</a></li>
            <li><a href="/web-design">Web Design</a></li>
            <li><a href="/index.html#portfolio">Portfolio</a></li>
            <li><a href="/#contact">Contact</a></li>
            <li><a href="/imprint">Imprint</a></li>
            
            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>DE</button>

                <div class="dropdown-menu">
                    <div class="dropdown-links">
                        <a href="">EN</a>
                    </div>
                </div>
            </div>
        </ul>

        <a href="#" class="toggle-button">
                <i class='bx bx-menu-alt-right'></i>
        </a>

        
    </nav>

    <div id="progress-bar"></div>
    <script src="/scripts/progress.js" defer></script>

    <script src="/scripts\nav.js"></script>
</header>