<header>
    <nav>
        <ul>
            <a href="/index.html" class="icon"><img src="/img/icon.png" alt=""></a>
            
            <div class="menu">
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/solutions">Solutions</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/imprint">Imprint</a></li>
                <li class="dropdown">
                    <button class="dropdown-button">EN</button>

                    <div class="dropdown-menu">
                        <div class="dropdown-links">
                            <a href="https://de.maple-ink.com"><button>DE</button></a>
                            <a href="https://fr.maple-ink.com"><button>FR</button></a>
                            <a href="https://jp.maple-ink.com"><button>JP</button></a>
                        </div>
                    </div>
                </li>
            </div>

            <a href="#" class="toggle-button">
                <i class='bx bx-menu-alt-right'></i>
            </a>
        </ul>
    </nav>

    <script src="/scripts/nav.js"></script>
</header>