---
title: Empty Template
layout: 'base.njk'
---

<section class="#">

</section>
<section class="page_section">
    <h1 class="post__title">{{ title }}</h1>
    <center><img class="post__image" src="{{ image }}" alt="{{ imageAlt }}"></center>
    <p class="post__meta"><span class="post__date">{{ date | postDate }}</span> &#8226; by <span class="post__author">{{ author }}</span></p>
    
    <div class="post__content">
        {{ content | safe }}
    </div>
    

</section>