
src/img/testing/android-studio-2022.2.1.19-windows.exe
public/img/testing/android-studio-2022.2.1.19-windows.exe
public/img/testing/android-studio-2022.2.1.19-windows.exe
*.exe
public/img/testing/android-studio-2022.2.1.19-windows.exe
