---
title: A long time ago... | Our Blog Posts
layout: 'base.njk'
---

<section class="blog-banner">
    <div class="wrapper">
        <div class="container">
            <div class="stats">
                <div class="hidden reveal-up">
                    <p>Internet Statistiken</p>
                </div>
    
                <div class="hidden reveal-up">
                    <h2>5.03M</h2>
                    <p>Nutzer Weltweit</p>
                </div>
    
                <div class="hidden reveal-up">
                    <h2>500K</h2>
                    <p>Neue Nutzer pro Tag</p>
                </div>
    
                <div class="hidden reveal-up">
                    <h2>1.14M</h2>
                    <p>Webseiten Online</p>
                </div>
            </div>
        </div>

        <img src="/img/polka.png" alt="" class="index-polka hidden reveal-down">
    
        <div class="banner-title hidden reveal-left" id="banner-title">
            <div class="title_text">
                <h1>Lebendige Geschichten auf Webseiten</h1>
                <p>Unsere Geschichten werden auch auf unserer Webseite lebendig. In unserem Blog-Bereich erzählen wir über Tipps bis hin zu alltäglichen Geschichten alles.</p>
    
                <div class="divider50"></div>
    
                <a href="#blogs"><button>Weiter Lesen</button></a>
            </div>
        </div>
    </div>
</section>
<section class="page_section" id="blogs"> 
    <div class="blog-previews">
        <div class="blog-preview_big">
            {%- for post in collections.latestPost -%}
                <div>
                    <img class="blog-preview_big-img" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
                </div>
                <div>
                    <h2 class="snippet__title">{{ post.data.title }}</h2>
                    <p class="snippet__meta"><span class="snippet__date">{{ post.data.date | postDate }}</span> &#8226; by <span class="snippet__author">{{ post.data.author }}</span></p>
                    <p class="snippet__body">{{ post.data.descriptionLong }}<a href="{{ post.url }}">read more</a></p>
                </div>
            {%- endfor -%} 
         </div>
        <div class="blog-previews_small">
            
            {%- for post in collections.post | reverse-%}
                <div class="blog-preview_small">
                    <div>
                        <img class="blog-preview_small-img" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
                    </div>
                    <div>
                        <h2 class="snippet__title">{{ post.data.title }}</h2>
                        <p class="snippet__meta"><span class="snippet__date">{{ post.data.date | postDate }}</span> &#8226; by <span class="snippet__author">{{ post.data.author }}</span></p>
                        <p class="snippet__body">{{ post.data.description }}<a href="{{ post.url }}">read more</a></p>
                    </div>
                </div>

                <hr>
            {%- endfor -%}

        </div>
    </div>

    <hr class="section-divider">

    <div class="catagories cards">
        <div class="catagory card hidden reveal-left">
            <div class="card-border"></div>
            <div class="card-content">
                <p>Tech and co.</p>
            </div>
        </div>

        <div class="catagory card hidden reveal-left">
            <div class="card-border"></div>
            <div class="card-content">
                <p>Tipps & Tricks</p>
            </div>
        </div>

        <div class="catagory card hidden reveal-left">
            <div class="card-border"></div>
            <div class="card-content">
                <p>Catagory</p>
            </div>
        </div>

        <div class="catagory card hidden reveal-left">
            <div class="card-border"></div>
            <div class="card-content">
                <p>Catagory</p>
            </div>
        </div>

        <script src="/scripts/hover_boxes.js"></script>
        <script src="/scripts/reveal-animation.js"></script>
    </div>
</section>

<!-- 

    <div class="blog-preview_small">
        <div>
            <img class="blog-preview_small-img" src="/img/banner.png" alt="">
        </div>
        <div>
            <h2 class="snippet__title">Blog Title</h2>
            <p class="snippet__meta"><span class="snippet__date">15.12.2006</span> &#8226; by <span class="snippet__author">Emil Becher</span></p>
            <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit <a href="">read more</a></p>
        </div>
    </div>

 -->