---
title: Brand Content Creation
layout: 'base.njk'
---

<section class="brand-content-creation_banner">
    <img src="/img/polka.png" alt="" class="index-polka hidden reveal-down">

    <div class="container">
        <div class="stats">
            <div class="hidden reveal-up">
                <center><i class='bx bx-paint'></i></center>
                <p>Individuelles Design</p>
            </div>

            <div class="hidden reveal-up">
                <center><i class='bx bxs-camera' ></i></center>
                <p>Fotos und Videos</p>
            </div>

            <div class="hidden reveal-up">
                <center><i class='bx bx-font-family' ></i></center>
                <p>Angepasste Texte</p>
            </div>
        </div>
    </div>

    <div class="website_banner-title hidden reveal-right">
        <div class="title_text">
            <h1>Individueller Brand Content</h1>
            <p>Wir deisgnen deinen Brand Content so, dass dein Business im Web und auf den Straßen erkennbar und bemerkenswert ist.</p>

            <div class="divider200 isPC"></div>
            <div class="divider50 isMobile"></div>

            <button><a href="#learn_more">Mehr Erfahren</a></button>
        </div>
    </div>
</section>



<section class="page_section" id="learn_more">
    <div class="divider200"></div>

    <h1>Brand Content Creation - Eine kurze Erklärung</h1>

    <div class="bcc">
        <img src="/img/fake_company.png" alt="" class="hidden reveal-left">

        <div class="vl"></div>

        <div class="description hidden reveal-right">
            <h2>Was ist Brand Content?</h2>
            <p>
                Brand Content ist das, was deine Marke nach Außen wiedergibt. Es spiegelt im Prinzip, das was du mit deiner Marke präsentieren möchtest. Am besten gelingt dies, wenn dein Brand Content sich von der Masse abhebt und die Leute sich gut an Logo und Namen erinnern können. Wir sind dafür zuständig, dass dieser gewünschte Effekt, dabei rauskommt.    
            </p>
        </div>
    </div>

    <div class="divider300"></div>

    <div class="bcc">
        <div class="description hidden reveal-left">
            <h2>Wieso ist Brand Content wichtig?</h2>
            <p>
                Um viele Menschen zu erreichen, ist es wichtig, dass diese sich auch deine Marke leicht einprägen können. Dafür ist Brand Content wichtig, denn dieser schafft eine Corporate Identity. Ein Markenzeichen eben.
            </p>
        </div>

        <div class="vl"></div>
        
        <img src="/img/fake_company.png" alt="" class="hidden reveal-right">
    </div>
</section>

<script src="/scripts/reveal-animation.js"></script>
<script src="/scripts/hover_boxes.js"></script>