---
title: Contact
layout: base.njk
---

<section class="contact-sect">
    <div class="wrapper">
        <div class="contact-form">
            <form action="">
                <h1>Kontakt Formular</h1>
                <div>
                    <input type="text" name="name" id="name" class="inline" placeholder="Vorame">
                    <input type="text" name="surname" id="surname" class="inline" placeholder="Nachname">
                </div>
                <input type="text" name="company" id="company" class="block" placeholder="Firma">
                <input type="email" name="email" id="email" class="block" placeholder="E-Mail">
                <textarea name="msg" id="msg" class="block" placeholder="Nachricht"></textarea>
                <center><button>Nachricht senden</button></center>
            </form>
        </div>
    
        <div class="contact-info">
            <h1>Kontakt</h1>
            <center><p class="contact-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus nostrum expedita a illum earum incidunt nobis hic voluptatem quam sunt itaque, veritatis ducimus facere? Animi provident architecto repudiandae reprehenderit illum et.</p></center>
            <br>
            <br>
            <br>
            <br>
            <p><b>Adresse</b></p>
            <p>Luise-Rappaport-Weg 13</p>
            <p>48161 Münster</p>
            <p>Deutschland</p>
            <br>
            <br>
            <br>
            <br>
            <p><b>Telefon</b></p>
            <p>0152 / 513 69 734</p>
            <br>
            <br>
            <br>
            <br>
            <p><b>E-Mail</b></p>
            <p>info@maple-ink.com</p>
        </div>
    </div>

    <div class="lower-hero">
        <img src="/img/Decoration Line.png" alt="">
    
        <div class="social-btns">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/company/maple-ink-web/" target="_blank"><i class='bx bxl-linkedin' target="_blank"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com/mapleink.offcl" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
                </li>
                <li>
                    <a href="https://tiktok.com/@maple_ink.official" target="_blank"><i class='bx bxl-tiktok'></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="hero-bg-text">
        <h1>Kontakt</h1>
    </div>

</section>

