---
layout: base.njk
---

<section>
    <div class="container hero-section">
        <div class="side-hero">
            <hr class="vr1">
        </div>
        
        <div class="hero-left">
            <h1>Corporate<br><span class="colorful">Branding</span></h1>
            <p>For Businesses</p>
        </div>

        <div class="hero-right">
            <h1>楓と墨</h1>
            {# <img src="/img/pages/index/hero-img.jpg" alt="" class="hero-img color">
            <img src="/img/pages/index/hero-img-sw.png" alt="" class="hero-img sw">
            <img src="/img/pages/index/hero-img-sw.png" alt="" class="hero-img sw deko"> #}
        </div>
        
        <div class="lower-hero">
            <div class="sm">
                <a href="https://instagram.com" target="_blank"> <i class='bx bxl-instagram-alt'></i></a>
                <a href="https://pinterest.com" target="_blank"><i class='bx bxl-pinterest' ></i></a>
                <a href="https://tiktok.com" target="_blank"><i class='bx bxl-tiktok' ></i></a>
                <a href="https://youtube.com" target="_blank"><i class='bx bxl-youtube' ></i></a>
            </div>

            <div class="slogan">
                <hr class="hr-left">
                <p>Putting the Art in your Brand</p>
                <hr class="hr-right">

            </div>
        </div>  
    </div>                             
</section>

<section class="cs-image">
    <img src="/img/portfolio/schillergymnasium/main.png" alt="">
</section>

<section class="cs-text about">
    <h2>About Corporate Branding</h2>
    <p>Corporate Branding enables possibilities for an instant recognition of your brand among all medias. We craft complex yet uniform style guides to emphasize your brands vision. In order to secure recognition offline as well, we work together with major printing groups and offer a variety of printed marketing materials. Maple Ink provides extensive approaches to Corporate Branding. Let's create art from your brand together.</p>
</section>

<section class="cs-gallery">
    <div class="grid">
        <img src="/img/portfolio/schillergymnasium/website.png" alt="">
        <img src="/img/portfolio/schillergymnasium/website.png" alt="">
        <img src="/img/portfolio/schillergymnasium/website.png" alt="">
        <img src="/img/portfolio/schillergymnasium/website.png" alt="">
    </div>
</section>

<section class="cs-testimonial">
    <div class="testimonial">
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor ea laborum accusantium aliquam ad dicta illum animi iste voluptate impedit harum dolores, saepe voluptatibus magni hic dolorum molestias! Architecto corrupti sunt reiciendis sapiente. Unde perferendis earum ut saepe deserunt repellat.</p>
        <hr>
        <p class="author">Isabell Becher - Music Therapist in Münster, Germany</p>
    </div>
</section>

<section class="faq">
    <div class="text">
        <h2>FAQ</h2>
        <p>Have any more questions? Here you might find the answer.</p>
    </div>

    <div class="questions">
        <div class="question-holder">
            <div class="question" id="question">
                <button aria-controls="answer" aria-expanded="false">
                    <p>Who should use Corporate Branding?</p>
                    <i class='bx bx-plus' ></i>
                </button>
            </div>
            <div class="answer" id="answer" aria-labelledby="question" role="region" aria-hidden="true">
                <p>If you have a medium to larged sized business, Maple Ink's Corporate Branding is the perfect solution for you. Corporate Branding offers a systematic approach to your brand which can be applied extensively everywhere and be easily utilized by your employees.</p>
            </div>
        </div>

        <div class="question-holder">
            <div class="question" id="question">
                <button aria-controls="answer" aria-expanded="false">
                    <p>Do you offer Personal Branding as well?</p>
                    <i class='bx bx-plus' ></i>
                </button>
            </div>
            <div class="answer" id="answer" aria-labelledby="question" role="region" aria-hidden="true">
                <p>Yes! You can find everything about Personal Branding <a href="/personal-branding">here</a>.</p>
            </div>
        </div>

        <div class="question-holder">
            <div class="question" id="question">
                <button aria-controls="answer" aria-expanded="false">
                    <p>Do you also offer Rebranding?</p>
                    <i class='bx bx-plus' ></i>
                </button>
            </div>
            <div class="answer" id="answer" aria-labelledby="question" role="region" aria-hidden="true">
                <p>Of course! We not only offer Branding from the moment you create your brand, but also offer various approaches to rebrand your already existing brand according to your wishes.</p>
            </div>
        </div>

        <div class="question-holder">
            <div class="question" id="question">
                <button aria-controls="answer" aria-expanded="false">
                    <p>Can You Provide Examples of Your Previous Work and Success Stories?</p>
                    <i class='bx bx-plus' ></i>
                </button>
            </div>
            <div class="answer" id="answer" aria-labelledby="question" role="region" aria-hidden="true">
                <p>You can find our most outstanding works <a href="#works">down below</a>! If you find anything inspiring let us know when <a href="/contact">starting your project</a>.</p>
            </div>
        </div>

        <div class="question-holder">
            <div class="question" id="question">
                <button aria-controls="answer" aria-expanded="false">
                    <p>What is the Timeline and Budget for the Project?</p>
                    <i class='bx bx-plus' ></i>
                </button>
            </div>
            <div class="answer" id="answer" aria-labelledby="question" role="region" aria-hidden="true">
                <p>Usually we plan with a minimum of eight to twelve weeks from Get-Go to Launch. As for your budget, to implement your Corporate Branding together with Maple Ink, you should plan with a budget between eight to fifteen thousand euros.</p>
            </div>
        </div>
    </div>

    <script src="/scripts/faq.js"></script>
</section>

<section class="start-own dark-obj">
    <a href="/contact" class="move" data-value="-3">Get Started</a>
</section>