---
title: Imprint
layout: base.njk
---

<section class="imprint">
    <div class="wrapper">
        <div class="other-law">
            <div class="divs adresse">
                <img src="/img/portfolio/accordion-1.png" alt="">
                
                <div class="content">
                    <p><b>Maple Ink inh. Emil Becher</b></p>
                    <p>Luise-Rappaport-Weg 13</p>
                    <p>48161 Münster</p>
                    <p>Deutschland</p>
                </div>
            </div>

            <a href="/imprint"><div class="divs data-protection">
                <div>
                    <i class='bx bx-buildings'></i>
                    <h2>Impressum</h2>
                </div>
                <p>&#8594;</p>
            </div></a>

            <a href="/data-protection"><div class="divs data-protection">
                <div>
                    <i class='bx bx-lock-alt' ></i>
                    <h2>Datenschutz</h2>
                </div>
                <p>&#8594;</p>
            </div></a>

            <a href="/tos"><div class="divs gtc">
                <div>
                    <i class='bx bx-spreadsheet' ></i>
                    <h2>AGB</h2>
                </div>
                <p>&#8594;</p>
            </div></a>

            <a href="/cookies"><div class="divs cookies">
                <div>
                    <i class='bx bx-cookie' ></i>
                    <h2>Cookies</h2>
                </div>
                <p>&#8594;</p>
            </div></a>
        </div>

        <div class="imprint-content data-protection-container">
            <h2>Datenschutz</h2>
            <h3>1. Einführung</h3>
            <p>
                Maple Ink verpflichtet sich, die Privatsphäre und personenbezogenen Daten von Personen zu schützen, die mit unserer Website und unseren Dienstleistungen interagieren. Diese Datenschutzrichtlinie beschreibt, wie wir personenbezogene Daten gemäß den Anforderungen der Datenschutz-Grundverordnung (DSGVO) erfassen, verarbeiten, speichern und schützen.
            </p>

            <h3>2. Anwendungsbereich</h3>
            <p>
                Diese Richtlinie gilt für alle personenbezogenen Daten, die von Maple Ink erfasst, verarbeitet und gespeichert werden, unabhängig davon, ob sie über unsere Website oder auf anderem Wege erhoben werden. Sie umfasst personenbezogene Daten, die von Personen über unser Kontaktformular übermittelt werden, sowie Daten, die über Google Analytics erfasst werden.
            </p>

            <h3>3. Datenerfassung und Zweck</h3>
            <h4>3.1 Daten des Kontaktformulars</h4>
            <p>
                Wenn Personen Informationen über unser Kontaktformular übermitteln, erfassen wir folgende Daten:
            </p>
            <ul>
                <li>Name: um Personen in unserer Kommunikation korrekt anzusprechen.</li>
                <li>E-Mail-Adresse: um Anfragen zu beantworten und Updates oder Informationen bereitzustellen.</li>
                <li>Firmenname: um die Organisation, mit der die Person verbunden ist, zu verstehen.</li>
                <li>Nachricht: um auf die spezifische Anfrage oder das Anliegen einzugehen.</li>
            </ul>
            <p>
                Der Zweck der Datenerfassung besteht darin, die Kommunikation herzustellen, auf Anfragen zu antworten und relevante Informationen über unsere Dienstleistungen bereitzustellen.
            </p>

            <h4>3.2 Google Analytics</h4>
            <p>
                Wir verwenden Google Analytics, um Daten über die Nutzung der Website und die Interaktionen der Besucher zu erfassen und zu analysieren. Diese Daten können IP-Adressen, Browserinformationen und besuchte Website-Seiten umfassen. Der Zweck dieser Datenerfassung besteht darin, die Leistung unserer Website, die Benutzererfahrung und unsere Marketingbemühungen zu verstehen und zu verbessern.
            </p>

            <h3>4. Rechtsgrundlage für die Verarbeitung</h3>
            <p>
                Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten, die über das Kontaktformular erfasst werden, ist die Notwendigkeit zur Erfüllung eines Vertrags oder zur Durchführung vorvertraglicher Maßnahmen auf Anfrage der betroffenen Person. Für die über Google Analytics erfassten Daten ist die Rechtsgrundlage unser berechtigtes Interesse an der Analyse der Website-Performance und der Verbesserung unserer Dienstleistungen.
            </p>

            <h3>5. Datenweitergabe</h3>
            <p>
                Wir geben personenbezogene Daten, die über das Kontaktformular erfasst werden, nicht an Dritte weiter. Wir teilen jedoch Daten zur Nutzung der Website, die über Google Analytics erfasst wurden, zwecks Analyse und Berichterstattung mit Google. Weitere Informationen darüber, wie Google mit diesen Daten umgeht, finden Sie in der Datenschutzerklärung von Google.
            </p>

            <h3>6. Datenspeicherung</h3>
            <p>
                Wir speichern personenbezogene Daten, die über das Kontaktformular erfasst werden, für einen Zeitraum von zwei Jahren ab Abschluss eines erfolgreichen Vertrags oder Projekts, zuzüglich der Entwicklungszeit, falls zutreffend. Bei erfolglosen Vertragsabschlüssen oder Jobs, die nicht begonnen werden, speichern wir die Daten ein Jahr lang. Nach Ablauf dieser Fristen löschen oder anonymisieren wir die Daten sicher.
            </p>

            <h3>7. Datensicherheit</h3>
            <p>
                Maple Ink implementiert geeignete technische und organisatorische Maßnahmen, um personenbezogene Daten vor unbefugtem Zugriff, unbeabsichtigtem Verlust oder Zerstörung zu schützen. Wir unterhalten sichere Systeme, führen regelmäßige Sicherheitsbewertungen durch und schulen unser Personal in Fragen des Datenschutzes und der Privatsphäre.
            </p>

            <h3>8. Rechte der betroffenen Person</h3>
            <p>
                Personen haben gemäß der DSGVO folgende Rechte in Bezug auf ihre personenbezogenen Daten:
            </p>
            <ul>
                <li>Recht auf Zugang: Personen können Zugang zu ihren personenbezogenen Daten, die von Maple Ink gespeichert werden, beantragen.</li>
                <li>Recht auf Berichtigung: Personen können die Berichtigung ungenauer oder unvollständiger Daten beantragen.</li>
                <li>Recht auf Löschung: Personen können unter bestimmten Umständen die Löschung ihrer personenbezogenen Daten beantragen.</li>
                <li>Recht auf Einschränkung der Verarbeitung: Personen können die Beschränkung der Verarbeitung ihrer personenbezogenen Daten beantragen.</li>
                <li>Recht auf Datenübertragbarkeit: Personen können beantragen, ihre personenbezogenen Daten in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten.</li>
                <li>Widerspruchsrecht: Personen können der Verarbeitung ihrer personenbezogenen Daten aufgrund berechtigter Interessen widersprechen.</li>
            </ul>
            <p>
                Um diese Rechte auszuüben oder bei Fragen zu personenbezogenen Daten können sich Einzelpersonen unter Verwendung der in Abschnitt 10 angegebenen Kontaktdaten an Maple Ink wenden.
            </p>

            <h3>9. Datenschutzbeauftragter</h3>
            <p>
                Da Maple Ink eine kleine Organisation ist, ist der CEO für die Überwachung von Datenschutzangelegenheiten verantwortlich. Wenn Sie Bedenken oder Fragen zum Datenschutz haben, können Sie sich unter Verwendung der in Abschnitt 10 angegebenen Kontaktdaten an den CEO wenden.
            </p>

            <h3>10. Kontaktdaten</h3>
            <p>
                Bei Anfragen oder Anliegen in Bezug auf den Datenschutz können Sie uns unter den folgenden Angaben kontaktieren:
            </p>
            <ul>
                <li>Maple Ink</li>
                <li>Adresse: <a href="https://goo.gl/maps/7VMxNK7edEQUoBoU6" target="_blank">Luise-Rappoport-Weg 13, 48161 Münster</a></li>
                <li>E-Mail: <a href="mailto:info@maple-ink.com">info@maple-ink.com</a></li>
                <li>Telefon: <a href="tel:0152 / 513 69 734">0152 / 513 69 734</a></li> 
            </ul>

            <h3>11. Änderungen der Datenschutzrichtlinie</h3>
            <p>
                Wir können diese Datenschutzrichtlinie von Zeit zu Zeit aktualisieren, um Änderungen in den rechtlichen oder behördlichen Anforderungen oder unseren Datenschutzpraktiken widerzuspiegeln. Wir empfehlen Einzelpersonen, diese Richtlinie regelmäßig auf Aktualisierungen zu überprüfen.
            </p>

            <p>Diese Datenschutzrichtlinie tritt ab dem 06.03.2023 in Kraft.</p>
        </div>
    </div>
    
    <div class="lower-hero">
        <img src="/img/Decoration Line.png" alt="">
    
        <div class="social-btns">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/company/maple-ink-web/" target="_blank"><i class='bx bxl-linkedin' target="_blank"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com/mapleink.offcl" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
                </li>
                <li>
                    <a href="https://tiktok.com/@maple_ink.official" target="_blank"><i class='bx bxl-tiktok'></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="hero-bg-text">
        <h1>Datenschutz</h1>
    </div>
</section>