---
title: Gastronomy
layout: 'base.njk'
---
<section class="gastronomy-banner">

</section>
<section class="page_section">
    <h1>Websites for Gastronomy</h1>
    <div class="gastronomy page">
        <div class="google">
            <p class="url">https://restaurant-xy.com</p>
            <p class="title">Restaurant XY | BEST SERVICE in City XY | Reserve Online</p>
            <p class="description">Restaurant XY is a traditional Japanese restaurant in City XY. We serve Ramen, Udon, Sushi, Tonkatsu-Don and much more. Reserve now online!</p>
        </div>

        <div class="cards">
            <div class="card_description hidden reveal-left">
                <div class="card">
                    <div class="card-border"></div>
                    <div class="card-content">
                        <i class='bx bx-time-five' ></i>
                    </div>
                </div>
                <div class="description">
                    <h2>Save time by making reservations available online</h2>
                </div>
            </div>

            <div class="card_description hidden reveal-left">
                <div class="card">
                    <div class="card-border"></div>
                    <div class="card-content">
                        <i class='bx bx-credit-card-alt' ></i>
                    </div>
                </div>
                <div class="description">
                    <h2>Easy online payment after your guests left</h2>
                </div>
            </div>

            <div class="card_description hidden reveal-left">
                <div class="card">
                    <div class="card-border"></div>
                    <div class="card-content">
                        <i class='bx bx-happy-beaming' ></i>
                    </div>
                </div>
                <div class="description">
                    <h2>Reduce stress and waiting with your guests and personell</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="scripts/reveal-animation.js" defer></script>
<script src="scripts/hover_boxes.js" defer></script>
</body>