---
title: Imprint
layout: 'base.njk'
---

<section class="imprint-banner">

</section>
<section class="page_section">
    <h3>Impressum</h3>
    <div>
        <div>
            <div class="imprint-information-text">
                <iframe class="imprint-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9826.001699834645!2d7.5569504!3d51.9977586!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd07552081ad86764!2sMaple%20Ink%20-%20Software!5e0!3m2!1sen!2sde!4v1659303413309!5m2!1sen!2sde" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div>
                <h2>Informationen gemäß &#167;5 TMG</h2>
                <p><b>Maple Ink inh. Emil Becher</b></p>
                <p>Postfach 42 01 30</p>
                <p>48068 M&#252;nster</p>
                <p>Deutschland</p>
                <br>
                <p>Kommerzielles Register:</p>
                <p>Register court: M&#252;nster</p>
                <br>
                <p>Repräsentiert von:</p>
                <p>Emil Becher</p>
            </div>
        </div>

        <div class="divider50"></div>

        <h2>Contact</h2>
        <p>Phone: <a href="tel:+491751969007">+49 178 / 1969 007</a></p>
        <p>E-Mail: <a href="mailto:info@maple-ink.com">info@maple-ink.com</a></p>
        
        <div class="divider50"></div>
    </div>
</section>