---
title: Imprint
layout: base.njk
---

<section class="imprint">
    <div class="wrapper">
        <div class="other-law">
            <div class="divs adresse">
                <img src="/img/solutions/print-marketing.jpg" alt="">
                
                <div class="content">
                    <p><b>Maple Ink inh. Emil Becher</b></p>
                    <p>Luise-Rappaport-Weg 13</p>
                    <p>48161 Münster</p>
                    <p>Deutschland</p>
                </div>
            </div>

            <a href="/imprint"><div class="divs data-protection">
                <div>
                    <i class='bx bx-buildings'></i>
                    <h2>Impressum</h2>
                </div>
                <p>&#8594;</p>
            </div></a>

            <a href="/data-protection"><div class="divs data-protection">
                <div>
                    <i class='bx bx-lock-alt' ></i>
                    <h2>Datenschutz</h2>
                </div>
                <p>&#8594;</p>
            </div></a>

            <a href="/tos"><div class="divs gtc">
                <div>
                    <i class='bx bx-spreadsheet' ></i>
                    <h2>AGB</h2>
                </div>
                <p>&#8594;</p>
            </div></a>

            <a href="/cookies"><div class="divs cookies">
                <div>
                    <i class='bx bx-cookie' ></i>
                    <h2>Cookies</h2>
                </div>
                <p>&#8594;</p>
            </div></a>
        </div>

        <div class="imprint-content">
            <h2>Gemäß § 5 TMG</h2>
            <p>Maple Ink inh. Emil Becher</p>
            <p>Luise-Rappaport-Weg 13</p>
            <p>48161 Münster</p>
            <p>Deutschland</p>
            <br>
            <p><b>Vertreten durch:</b></p>
            <p>Emil Becher</p>
            <br>
            <br>
            <h2>Kontakt</h2>
            <p>Mobil: <a href="tel:015251369734">0152 / 513 69 734</a></p>
            <p>E-Mail: <a href="mailto:info@maple-ink.com">info@maple-ink.com</a></p>
            <br>
            <br>
            <h2>Umsatzsteuer-Identifikationsnummer</h2>
            <p>Umsatzsteuer-Identifikationsnummer gemäß § 27a Umsatzsteuergesetz:</p>
            <p>DE355822400</p>
            <br>
            <br>
            <h2>EU-Streitschlichtung</h2>
            <p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href=" https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a>.</p>
            <p>Unsere E-Mail-Adresse findest du oben.</p>
            <br>
            <hr>
            <p class="small">Letzte Aktualisierung: 09/05/2023</p>
        </div>
    </div>
    
    <div class="lower-hero">
        <img src="/img/Decoration Line.png" alt="">
    
        <div class="social-btns">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/company/maple-ink-web/" target="_blank"><i class='bx bxl-linkedin' target="_blank"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com/mapleink.offcl" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
                </li>
                <li>
                    <a href="https://tiktok.com/@maple_ink.official" target="_blank"><i class='bx bxl-tiktok'></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="hero-bg-text">
        <h1>Impressum</h1>
    </div>
</section>
