---
title: Empty Template
layout: 'base.njk'
---

<section class="portfolio-s_hero">
    <div class="wrapper">
        <div class="hero-text">
            <h1>Isabell Becher</h1>
        </div>
    </div>

    <div class="lower-hero">
        <img src="/img/Decoration Line.png" alt="">

        <a href="#index-hello"><i class='bx bx-chevron-down'></i></a>

        <div class="social-btns">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/company/maple-ink-web/" target="_blank"><i class='bx bxl-linkedin' target="_blank"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com/mapleink.offcl" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
                </li>
                <li>
                    <a href="https://tiktok.com/@maple_ink.official" target="_blank"><i class='bx bxl-tiktok'></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="hero-bg-text">
        <h1>Musiktherapeutin</h1>
    </div>
</section>

<section class="portfolio-sw_gallary">
    <img src="" alt="" id="bigImage">
    
    <div class="pin-container">
        {%- for item in collections.portfolio.data.gallary -%}
            <div class="card card_{{ item.size }}"><img src="{{ item.gallaryImage }}" alt="" id="image"></div>
        {%- endfor -%}
    </div>

    <script src="/scripts/gallary.js"></script>
</section>