---
title: Portfolio
layout: base.njk
---

<section class="portfolio">
    <div class="wrapper">
        <div class="accordion">
            {%- for portfolio in collections.portfolio -%}
                {%- if loop.first -%}
                    <div class="accordion-panel">
                        <h2 id="panel1-heading">
                            <button class="accordion-trigger" aria-controls="panel1-content" aria-expanded="true">
                                <a href="{{ portfolio.url }}"><span class="accordion-title" id="panel1-title">{{ portfolio.data.title }}</span></a> 
                                <img aria-hidden="true" class="accordion-icon" src="{{ portfolio.data.icon }}"></img>
                            </button>
                        </h2>
                        <div class="accordion-content" id="panel1-content" aria-labelledby="panel1-heading" role="region" aria-hidden="false">
                            <p>{{ portfolio.data.description }}</p>
                            <img class="accordion-image" src="{{ portfolio.data.image }}" alt="">
                            <br>
                            <br>
                            <br>
                            <br>
                            <p class="accordion-link">more on <a href="https://pinterest.com"><i class='bx bxl-pinterest'></i></a></p>
                        </div>
                    </div>
                {%- else -%}
                    <div class="accordion-panel">
                        <h2 id="panel1-heading">
                            <button class="accordion-trigger" aria-controls="panel1-content" aria-expanded="false">
                                <span class="accordion-title" id="panel1-title">{{ portfolio.data.title }}</span> 
                                <img aria-hidden="true" class="accordion-icon" src="{{ portfolio.data.icon }}"></img>
                            </button>
                        </h2>
                        <div class="accordion-content" id="panel1-content" aria-labelledby="panel1-heading" role="region" aria-hidden="true">
                            <p>{{ portfolio.data.description }}</p>
                            <img class="accordion-image" src="{{ portfolio.data.image }}" alt="">
                            <br>
                            <br>
                            <br>
                            <br>
                            <p class="accordion-link">more on <a href="https://pinterest.com"><i class='bx bxl-pinterest'></i></a></p>
                        </div>
                    </div>
                {%- endif -%}
            {%- endfor -%}

            <script src="/scripts/accordion.js"></script> 
        </div>
    </div>

    <div class="lower-hero">
        <img src="/img/Decoration Line.png" alt="">
    
        <div class="social-btns">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/company/maple-ink-web/" target="_blank"><i class='bx bxl-linkedin' target="_blank"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com/mapleink.offcl" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
                </li>
                <li>
                    <a href="https://tiktok.com/@maple_ink.official" target="_blank"><i class='bx bxl-tiktok'></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="hero-bg-text">
        <h1>Portfolio</h1>
    </div>
</section>