---
title: Portfolio
layout: 'base.njk'
---
<section class="page_section project-site">

    <div class="projects-bg">
        <h1>PORT</h1>
        <h1>FOLIO</h1>
    </div>

    <div class="project-window">
        <div class="divider200"></div>

        <!--<div class="site-preview">
            <button onclick="document.getElementById('site-preview').style.display = 'none'">x</button>
            <iframe src="https://isabell-becher.com" width="1280" height="720" id="site-preview"></iframe>
        </div>  -->

        <div class="projects">
            <div class="project-div" data-divNumber="8">
                <img class="bg-img" src="/img/banners/isabell_becher.jpg" alt="">
                <div class="container">
                    <h2>Isabell Becher</h2>
                    <p>Musiktherapeutin</p>
                </div>
            </div>

            <div class="project-div" data-divNumber="8">
                <img class="bg-img" src="/img/banners/about.jpg" alt="">
                <br>
                <div class="container" onclick="expandContainer()">
                    <h2>Schillergymnasium</h2>
                    <p>Gymnasium in Münster</p>
                </div>
            </div>
            
            <div class="project-div" data-divNumber="8">
                <img class="bg-img" src="/img/banners/isabell_becher.jpg" alt="">
                <br>
                <div class="container">
                    <h2>Hello World!</h2>
                </div>
            </div>

            <div class="project-div" data-divNumber="8">
                <img class="bg-img" src="/img/banners/isabell_becher.jpg" alt="">
                <br>
                <div class="container">
                    <h2>Hello World!</h2>
                </div>
            </div>

            <div class="project-div" data-divNumber="8">
                <img class="bg-img" src="/img/banners/isabell_becher.jpg" alt="">
                <br>
                <div class="container">
                    <h2>Hello World!</h2>
                </div>
            </div>

            <div class="project-div" data-divNumber="8">
                <img class="bg-img" src="/img/banners/isabell_becher.jpg" alt="">
                <br>
                <div class="container">
                    <h2>Hello World!</h2>
                </div>
            </div>

            <div class="project-div" data-divNumber="8">
                <img class="bg-img" src="/img/banners/isabell_becher.jpg" alt="">
                <br>
                <div class="container">
                    <h2>Hello World!</h2>
                </div>
            </div>

            <div class="project-div" data-divNumber="8">
                <img class="bg-img" src="/img/banners/isabell_becher.jpg" alt="">
                <br>
                <div class="container">
                    <h2>Hello World!</h2>
                </div>
            </div>
        </div>
    </div>
    
</section>