---
title: Lösungen
layout: base.njk
---

<section class="solution-sect">
    <div class="wrapper">
        <div class="container">
            <div class="panel print">
                <h2>Print-Marketing</h2>
                <p class="description">Mit akribischer Liebe zum Detail gestalten wir beeindruckende Printmaterialien, die einen bleibenden Eindruck hinterlassen und sicherstellen, dass Ihre Marke in der greifbaren Welt des Marketings herausragt.</p>
                <img src="/img/solutions/print-marketing.jpg" alt="">
            </div>
            <div class="panel webdesign">
                <h2>Webdesign</h2>
                <p class="description">Wir sind auf die Erstellung visuell beeindruckender und benutzerfreundlicher Websites spezialisiert, die die Essenz Ihrer Marke einfangen und nahtlose Online-Erlebnisse bieten, um Ihre digitale Präsenz zu stärken.</p>
                <img src="/img/solutions/webdesign.jpg" alt="">
            </div>
            <div class="panel social-media">
                <h2>Social-Media-Marketing</h2>
                <p class="description">Wir entwickeln strategische Marketingkampagnen, die auf Plattformen wie TikTok und Instagram zugeschnitten sind und die Kraft der sozialen Medien nutzen, um Sie mit Ihrer Zielgruppe zu verbinden und die Reichweite Ihrer Marke zu erhöhen.</p>
                <img src="/img/solutions/social-media.jpg" alt="">
            </div>
            <div class="panel brand-creation">
                <h2>Markenentwicklung</h2>
                <p class="description">Wir sind Experten darin, fesselnde Markenerzählungen und ansprechende Content-Strategien zu entwickeln, die Ihre Zielgruppe ansprechen, einen bleibenden Eindruck hinterlassen und sinnvolle Verbindungen schaffen.</p>
                <img src="/img/solutions/brand-creation.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="lower-hero">
        <img src="/img/Decoration Line.png" alt="">

        <div class="social-btns">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/company/maple-ink-web/" target="_blank"><i class='bx bxl-linkedin' target="_blank"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com/mapleink.offcl" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
                </li>
                <li>
                    <a href="https://tiktok.com/@maple_ink.official" target="_blank"><i class='bx bxl-tiktok'></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="hero-bg-text">
        <h1>Lösungen</h1>
    </div>
</section>
