/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}









/* Base */
:root {
    --color-accent-400: #8b70ff;
    
    --color-dominant-900: #2a2a2b;
    --color-dominant-700: #3c3c3d;
    --color-dominant-100: #f5f5f7;
}

html {
    scroll-behavior: smooth;
    color-scheme: dark;
}

body {
    background:         radial-gradient(#ffffff53 10%, #ffffff00 70%) no-repeat,
                        radial-gradient(#ffffff53 10%, #ffffff00 70%) no-repeat,
                        radial-gradient(#ffffff53 10%, #ffffff00 70%) no-repeat,
                        var(--color-dominant-900);
    background-size:    80em 80em,
                        70em 70em,
                        70em 70em,
                        auto auto;
    background-position: 60vw 10vh,
                         -25em 100vh,
                         60vw 230vh,
                         0 0;
}

h1 {
    font-family: 'Heebo', sans-serif;
    color: var(--color-dominant-100);
    font-size: 120px;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: var(--color-dominant-100);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    
}

h4 {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-dominant-100);
    margin-bottom: 15px;
}

p {
    color: var(--color-dominant-100);
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    line-height: normal;
}

.small {
    font-style: italic;
    font-size: 18px;
    opacity: .6;
    line-height: normal;
    margin-top: 2rem;
}

a {
    color: var(--color-dominant-100);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

hr {
    border: solid var(--color-dominant-100) 1px;
}

@media (max-width: 35em) {
    h1 {
        font-size: 50px;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: var(--color-dominant-900);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-dominant-700);
    border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
    background: var(--color-dominant-900);
}






/* Header */
header {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 5000;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-inline: 2em;
    height: 100px;
}

header img {
    width: 80px;
}

header ul li {
    display: inline-block;
    margin-inline: 15px;
}

header ul li a {
    text-decoration: none;
    font-size: 21px;
}









/* Index Hero Section */
.index-hero {
    height: 100vh;
    position: relative;
}

.index-hero .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.index-hero .wrapper .hero-text h1 {
    line-height: .8;
    user-select: none;
    font-size: 230px;
    text-transform: uppercase;
}

.index-hero .wrapper .hero-text hr {
    border: solid 9px var(--color-accent-400);
    background-color: var(--color-accent-400);
    width: 56.5%;
    right: 0;
    margin: 0;
    margin-left: 43.5%;
}

.index-hero .wrapper .hero-text h2 {
    text-align: right;
    margin-top: 12px;
}

.lower-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    transform: translateY(-120%);

    margin-inline: 2em;
    z-index: 0;
    position: relative;
}

.lower-hero .social-btns ul li {
    list-style: none;
    margin-block: 15px;
}

.lower-hero .social-btns ul li:hover i {
    color: #ffffffe6;
}

.lower-hero .social-btns ul li i {
    font-size: 25px;
    color: #ffffff99;
}

.lower-hero .bx-chevron-down {
    font-size: 40px;
    color: #ffffff99;
}

.hero-bg-text {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: visible;
    width: 100%;
}

.hero-bg-text h1 {
    line-height: .85;
    opacity: .09;
    font-size: 320px;
    text-align: left;
}

@media (max-width: 44.999em) {
    .hero-text h1 {
        font-size: 64px;
    }

    .index-hero .wrapper .hero-text hr  {
        border: solid 4.5px var(--color-accent-400);
        background-color: var(--color-accent-400);
        width: 55%;
        right: 0;
        margin: 0;
        margin-left: 43.5%;
    }

    .index-hero .wrapper .hero-text h2 {
        font-size: 16px;
        width: 55%;
        margin-left: 43.5%;
        margin-top: 0;
    }

    .hero-bg-text h1 {
        font-size: 120px;
    }

    .index-hero .wrapper .hero-text h1 {
        font-size: 64px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1180px) 
  and (orientation: landscape) {


    .index-hero .wrapper .hero-text h1 {
        font-size: 160px;
    }
}








/* Hello */
.index-hello {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-top: 20rem;
}

.index-hello .hello {
    width: 30rem;
}

.index-hello .solutions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40rem
}

.index-hello .solutions .content {
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: #313131;
}

.index-hello .solutions .content .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.index-hello .solutions .content .heading i {
    font-size: 30px;
    color: var(--color-accent-400);
}

.index-hello .solutions .content p {
    font-size: 18px;
}

.index-hello .solutions .content:hover {
    box-shadow: #1111116c -15px 20px 40px;
    z-index: 10;
}

.index-hello .solutions .content:hover h2 {
    color: var(--color-accent-400);
}

.index-hello .hello h2 {
    margin-bottom: 1rem;
}

@media (max-width: 44.999em) {
    .index-hello {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        margin-top: 20rem;
    }

    .index-hello .solutions {
        width: 20rem;
    }

    .index-hello .hello {
        width: 20rem;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1180px) 
  and (orientation: landscape) {


    .index-hello {
        margin-inline: 2em;
    }
}








.last-work {
    padding: 10rem;
    margin-top: 20rem;
}

.last-work .work {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "hero icon"
    "hero socials"
    "hero slogan"
    "hero colors";
    gap: 1rem;
    margin-top: 3rem;
}

.last-work .work .hero-picture {
    border-radius: 1rem;
    overflow: hidden;
    
}

.last-work .work .hero-picture img {
    transition: all ease-in-out .2s;
}

.last-work .work img {
    width: 100%;
}

.last-work .work .hero-picture {
    grid-area: hero;
}

.last-work .work .icon {
    grid-area: icon;
}

.last-work .work .socials {
    grid-area: socials;
}

.last-work .work .slogan {
    grid-area: slogan;
}

.last-work .work .colors {
    grid-area: colors;
}

.last-work .work .right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    border-radius: 1rem;
}

.last-work .work .right:hover {
    box-shadow: #1111116c -15px 20px 40px;
    z-index: 10;
}

.last-work .work .hero-picture:hover img {
    transform: scale(120%);
}

.last-work .work .icon img {
    width: 80%;
}

.last-work .work .socials {
    padding: 30px;
}

.last-work .work .socials i {
    font-size: 30px;
    opacity: .4;
    margin-inline: 5px;
}

.last-work .work .socials i:hover {
    color: green;
    opacity: .8;
}

.last-work .work .slogan p {
    font-style: italic;
}

.last-work .work .colors .color {
    width: 30px;
    aspect-ratio: 1 / 1;
    margin-inline: 5px;
    border: 3px solid;
}

.last-work .work .colors .color-1 {
    background-color: #008a20;
    border-color: #006d19;
}

.last-work .work .colors .color-2 {
    background-color: #49dc6b;
    border-color: #41c25f;
}

.last-work .work .colors .color-3 {
    background-color: #212121;
    border-color: #1c1c1c;
}

.last-work .work .colors .color-4 {
    background-color: #efefef;
    border-color: #dedede;
}

@media (max-width: 44.999em) {
    .last-work {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: 0;

        padding: 1rem;
    }
    
    .last-work .work {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "hero"
        "icon"
        "socials"
        "slogan"
        "colors ";
        gap: 1rem;
        margin-top: 3rem;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1180px) 
  and (orientation: landscape) {


    .last-work {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: 0;

        padding-right: 3rem;
        padding-left: 2rem;
    }

    .last-work .work .slogan {
        padding: 10px;
    }

    .last-work .work .slogan p {
        text-align: center;
    }
}








/* Workflow */
.index-workflow {
    margin-top: 20rem;
    margin-inline: 4em;
}
.index-workflow .steps {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    margin-top: 100px;
}

.index-workflow .steps .step {
    width: 25%;
}

.index-workflow .steps .step .number {
    border: solid 1px var(--color-dominant-100);
    width: 80px;
    height: 80px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.index-workflow .steps .step .number p {
    font-size: 40px;
    color: var(--color-accent-400);
}

.index-workflow .steps .step h2 {
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width: 44.999em) {
    .index-workflow {
        margin-inline: 1em;
    }
    
    .index-workflow .steps {
        flex-direction: column;
        margin-top: 0;
    }

    .index-workflow .steps .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        margin-top: 100px;
    }

    .index-workflow .steps .step h2 {
        text-align: center;
    }

    .index-workflow .steps .step p {
        text-align: center;
    }
}








/* Testimonials */
.testimonials {
    display: flex;
    justify-content: center;
    margin-block: 20rem;
}

.testimonials .wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    
    width: 54rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.testimonials ::-webkit-scrollbar-thumb {
    background-color: var(--color-accent-400);
    border-radius: 0 0 5px 5px;
}

.testimonials .testimonial {
    padding: 2rem;
    background-color: #111;
    border-radius: 1rem 1rem 0 0;
    position: relative;
    min-width: 50rem;
    scroll-snap-align: center;
}

.testimonials .testimonial .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 43rem;
}

.testimonials .testimonial .author-div {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.testimonials .testimonial .author-div .author {
    font-size: 25px;
}

.testimonials .testimonial .author-div .pfp {
    border-radius: 50%;
    width: 50px;
}


.testimonials .testimonial .review {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    margin-bottom: .5rem
}

.testimonials .testimonial .review i {
    color: var(--color-accent-400);
}

.testimonials .testimonial .review p {
    font-size: 16px;
}

.testimonials .testimonial .text {
    width: 43rem;
    margin: 0;
}

.testimonials .testimonial .bg {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.testimonials .testimonial .bg i {
    font-size: 80px;
    opacity: .4;
}

@media (max-width: 44.999em) {
    .testimonials .testimonial {
        min-width: 18rem;
    }

    .testimonials .wrapper {
        width: calc(18rem + 2rem * 2);
    }

    .testimonials .testimonial .text {
        width: 18rem;
    }

    .testimonials .testimonial .container {
        flex-direction: column;
        width: 15rem;
        align-items: flex-start;
    }
    
}









/* Portfolio */
.portfolio {
    height: 100vh;
}

.portfolio .hero-bg-text {
    overflow: hidden;
    width: 100%;
}

.portfolio .hero-bg-text h1 {
    text-align: right;
}

.portfolio .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.portfolio .accordion {
    --_button-size: 2rem;
    --_panel-padding: .75rem;
    --_panel-gap: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-inline: 1rem;
}

@media (min-width: 45em) {
    .portfolio .accordion {
        flex-direction: row;
        height: 30rem;
        width: 900px;
    }
}

.portfolio .accordion * {
    margin: 0;
}

.portfolio .accordion-panel {
    position: relative;
    isolation: isolate;
    flex-basis: calc((var(--_panel-padding) * 2) + var(--_button-size));
    overflow: hidden;
    padding: var(--_panel-padding);
    padding-right: calc(var(--_panel-padding) * 4);
    border-radius: calc(((var(--_panel-padding) * 2) + var(--_button-size)));

    transition: flex-basis 500ms, flex-grow 500ms;

}

@media (min-width: 45em) {
    .portfolio .accordion-panel {
        padding-right: var(--_panel-padding)
    }
}

.portfolio .accordion-panel:hover {
    cursor: pointer;
}

.portfolio .accordion-panel:has([aria-expanded="true"]) {
    flex-basis: clamp(15rem, 40vh, 20rem);
    flex-grow: 1;
    border-radius: calc(((var(--_panel-padding) * 2) + var(--_button-size)) / 2);
}

.portfolio .accordion-content > p{
    transform: translateY(2rem);
    opacity: 0;
    transition: transform 500ms 250ms, opacity 500ms 250ms;

    margin-left: calc(var(--_button-size) + (var(--_panel-gap) * 2.5));
}

.portfolio .accordion-panel:has([aria-expanded="true"]) .accordion-content > p {
    transform: translateY(0);
    opacity: 1;
}

.portfolio .accordion-title {
    font-size: 1.75rem;

    position: relative;
    isolation: isolate;

    display: none;
    align-items: center;
}

.portfolio .accordion-panel:has([aria-expanded="true"]) .accordion-title{
    display: grid;
}

@media (max-width: 44.999em) {
    .accordion-title {
        display: grid;
    }

    .accordion-title::after {
        content: '';
        position: absolute;
        padding-block: 0.75rem;

        left: calc((var(--_panel-gap) + var(--_button-size) + 1.5rem) * -1);
        width: calc(100% + var(--_button-size) * 3);
        height: var(--_button-size);
        background: hsl(0 0% 0% / 0.5);
        border-radius: 100vw;
        z-index: -1;
    }
}

.portfolio .accordion-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    transition: filter 500ms;
}

.portfolio .accordion-panel:has([aria-expanded="true"]) .accordion-image {
    filter: brightness(.5);
}

.portfolio .accordion-icon {
    fill: var(--_panel-color);
    background: hsl(0 0% 0% / 0.55);
    width: var(--_button-size);
    aspect-ratio: 1 / 1;
    padding: 0.75rem;
    border-radius: 50%;
    z-index: 10;
    object-fit: contain;
}

.portfolio .accordion-panel:nth-child(1) {
    --_panel-color: red;
}

.portfolio .accordion-panel:nth-child(2) {
    --_panel-color: blue;
}
/* MOREEEEEEEEEEEEEEE */

.portfolio .accordion-trigger {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--_panel-gap);
    background: transparent;
    border: 0;
    padding: 0;
}








/* Contact */
.contact-sect {
    height: 100vh;
}

.contact-sect .wrapper {
    display: flex;  
    align-items: center;
    justify-content: center;
    gap: 4em;
    height: 100%;
}

.contact-sect .wrapper h1 {
    font-size: 70px;
}

.contact-sect .hero-bg-text {
    overflow: hidden;
}

.contact-sect .hero-bg-text h1 {
    text-align: right;
}

.contact-sect .contact-form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-sect .contact-form form {
    background-color: var(--color-dominant-900);
    box-shadow: 5px 5px 30px rgb(32, 32, 34);
    padding: 4em;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-sect .contact-form .block {
    display: block;
}

.contact-sect .contact-form input,
.contact-sect .contact-form textarea {
    margin-top: 45px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-accent-400);
    outline: none;
    resize: none;
    font-size: 21px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-sect .contact-form textarea {
    margin-top: 170px;
}

.contact-sect .contact-form input.block,
.contact-sect .contact-form textarea {
    width: 30em;
}

.contact-sect .contact-form input.inline {
    width: 14.8em;
}

.contact-sect .contact-form button {
    padding: 1em 5em;
    margin-top: 80px;
    border: none;
    background-color: var(--color-dominant-900);
    color: var(--color-dominant-100);
    box-shadow: -2px -2px 10px rgb(32, 32, 34);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    transition: .2s all ease;
    position: relative;
    z-index: 10;
}

.contact-sect .contact-form button:hover {
    cursor: pointer;
    box-shadow: inset -2px -2px 10px rgb(32, 32, 34);
    
}

.contact-sect .contact-form button:active {
    transform: scale(90%);
}


.contact-sect .contact-info {
    width: 50%;
}
.contact-sect .contact-info p {
    text-align: center;
}

.contact-text {
    width: 60%;
}

@media (max-width: 44.999em) {

    .contact-sect {
        height: 100vh;
    }
    
    .contact-sect .wrapper {
        flex-direction: column;
        justify-content: flex-start;
        gap: 10em;
    }
    
    .contact-sect .wrapper h1 {
        font-size: 50px;
    }
    
    .contact-sect .contact-form {
        width: 100%;
        padding-top: 6em;
    }
    
    .contact-sect .contact-form form {
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        width: 100%;
    }
    
    .contact-sect .contact-form input.block,
    .contact-sect .contact-form textarea {
        width: 15em;
        margin-top: 2em;
    }
    
    .contact-sect .contact-form input.inline {
        width: 15em;
        display: block;
    }
    
    .contact-sect .contact-form button {
        padding: 1em 1em;
        width: 15em;
    }
    
    
    .contact-sect .contact-info {
        width: 100%;
        padding-bottom: 2em;
    }
    
    .contact-text {
        width: 16em;
    }
}








/* Imprint */
.imprint {
    height: 100vh;
}

.imprint .hero-bg-text {
    overflow: hidden;
}

.imprint .wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;

    height: 100%;
    margin-inline: 10em;
    gap: 8em;
}

.imprint .wrapper .other-law {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 5em;
}

.imprint .wrapper .other-law .divs:not(.adresse) {
    background-color: #111;
    width: calc(22rem - (35px * 2));
    border-radius: 20px;
    padding: 35px;
    z-index: 10;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imprint .wrapper .other-law .divs:not(.adresse) div {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.imprint .wrapper .other-law .divs:not(.adresse) div i {
    font-size: 30px;
}

.imprint .wrapper .other-law .divs:not(.adresse):hover {
    box-shadow: #1111116c -15px 20px 40px;
}

.imprint .wrapper .other-law .divs:not(.adresse):hover p {
    color: var(--color-accent-400);
}

.imprint .wrapper .other-law .adresse {
    overflow: hidden;
    background-color: #111;
    width: 22rem;
    border-radius: 20px;
    
}

.imprint .wrapper .other-law .adresse img{
    width: 120%;
    height: 11em;
    object-fit: cover;
    object-position: bottom;
    transform: translateX(-10%);
}

.imprint .wrapper .other-law .adresse .content {
    padding: 10px 35px 35px;
}

.imprint .wrapper .imprint-content {
    padding-top: 5em;
}

@media (max-width: 35em) {
    .imprint .wrapper {
        display: flex;
        flex-direction: column;
    
        height: 100%;
        margin-inline: 1rem;
        gap: 4em;
    }

    .imprint .other-law {
        margin-top: 3em;
    }

    .imprint .other-law h2 {
        font-size: 25px;
    }

    .imprint .other-law i {
        font-size: 25px !important;
    }

    .imprint .wrapper .other-law .divs:not(.adresse) {
        padding: 20px;
        width: calc(17rem - (20px * 2));
    }

    .imprint .wrapper .other-law .adresse {
        width: 17rem;
    }

    .imprint .wrapper .other-law .adresse p {
        font-size: 18px;
    }

    .imprint .wrapper .imprint-content {
        padding-bottom: 4em;
        padding-top: 0;
    }
}
















/* BackEnd */


/* Portfolio Site */
.portfolio-s_hero {
    height: 100vh;
    position: relative;
}

.portfolio-s_hero .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.portfolio-s_hero .hero-bg-text {
    overflow-y: hidden;
}

.portfolio-s_hero .hero-bg-text h1 {
    font-size: 230px;
}




/* PORTFOLIO GALLARY */
.portfolio-sw_gallary {
    width: 100%;
    display: flex;
    justify-content: center;
}

.portfolio-sw_gallary #bigImage {
    display: none;
    position: absolute;
    box-shadow: 0 0 1000px 100px #00000071;
}

.pin-container {
    --_card-with: 250px;
    --_card-border-radius: 16px;
    --_row-increment: 10px;
    --_card_small: 26;
    --_card_medium: 33;
    --_card_large: 45;

    margin: 0;
    padding: 0;
    width: 80vw;

    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 10px;
    justify-content: center;
}

.pin-container .card {
    padding: 0;
    margin: 15px 10px;
    background-color: red;
    border-radius: 16px;
    overflow: hidden;
}

.pin-container .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pin-container .card_small {
    grid-row-end: span 26;
}

.pin-container .card_medium {
    grid-row-end: span 33;
}

.pin-container .card_large {
    grid-row-end: span 45;
}