---
title: Website Creation
layout: 'base.njk'
---

<section class="website_building-banner">

    <img src="/img/polka.png" alt="" class="index-polka hidden reveal-down">

    <div class="container">
        <div class="stats">
            <div class="hidden reveal-up">
                <center><i class='bx bx-tachometer'></i></center>
                <p>Fast Servers</p>
            </div>

            <div class="hidden reveal-up">
                <center><i class='bx bx-leaf' ></i></center>
                <p>Carbon Neutral</p>
            </div>

            <div class="hidden reveal-up">
                <center><i class='bx bx-expand-horizontal' ></i></center>
                <p>Custom Theme</p>
            </div>
        </div>
    </div>

    <div class="website_banner-title hidden reveal-right">
        <div class="title_text">
            <h1>Deine Online-Präsens ist wichtig</h1>
            <p>Guck dir an, was wir alles bereitstellen um deine Website in das richtige Licht zu rücken. Von schnellen und klimaneutralen Servern bis hin zu einem modernen und geräteübergreifendem Design.</p>

            <div class="divider200 isPC"></div>
            <div class="divider50 isMobile"></div>

            <button><a href="#learn_more">Mehr Erfahren</a></button>
        </div>
    </div>

    <img src="/img/banners/webdesign_background.svg" alt="" class="background">

</section>

<section class="page_section" id="learn_more">
    <div class="divider200"></div>

    <h4>Schau zu, wie deine Website</h4>
    <h1>Du suchst aus. Wir designen.</h1>
    <h1>Triff unser volles Web Programm</h1>

    <div class="website-package cards">
        <div class="card item1 hidden reveal-left">
            <div class="card-border"></div>
            <div class="card-content">
                <img src="/img/website_building/judge.webp" alt="">
                <div class="container">
                    <h4>Legal Certainty on the Internet</h4>
                </div>
            </div>
        </div>

        <div class="card item2 hidden reveal-left">
            <div class="card-border"></div>
            <div class="card-content">
                <img src="/img/website_building/carbon_neutral.webp" alt="">
                <div class="container">
                    <h4>Carbon Neutral Server</h4>
                </div>
            </div>
        </div>

        <div class="card item3 hidden reveal-right">
            <div class="card-border"></div>
            <div class="card-content">
                <div class="container">
                    <h4>Fast and Secure Server</h4>
                </div>
            </div>
        </div>

        <div class="card item4 hidden reveal-right">
            <div class="card-border"></div>
            <div class="card-content">
                <div class="container">
                    <h4>Server around the World</h4>
                </div>
            </div>
        </div>

        <div class="card item5 hidden reveal-left">
            <div class="card-border"></div>
            <div class="card-content">
                <img src="/img/logo/wa.webp" alt="">
                <div class="container">
                    <h4>24/7 Whatsapp Support</h4>
                </div>
            </div>
        </div>
        
        <div  class="card item6 hidden reveal-scale">
            <div class="card-border"></div>
            <div class="card-content">
                <img src="" alt="">
                <div class="container">
                    <h4>Modern and Responsive</h4>
                </div>
            </div>
        </div>

        <div class="card item7 hidden reveal-right">
            <div class="card-border"></div>
            <div class="card-content">
                <img src="/img/website_building/analytics.webp" alt="">
                <div class="container">
                    <h4>Analyzing</h4>
                </div>
            </div>
        </div>

        <div class="card item8 hidden reveal-right">
            <div class="card-border"></div>
            <div class="card-content">
                <img src="/img/website_building/macbook_seo.webp" alt="">
                <div class="container">
                    <h4>Search Engine Optimization</h4>
                </div>
            </div>
        </div>


        <div class="card item9 hidden reveal-left">
            <div class="card-border"></div>
            <div class="card-content">
                <img src="/img/website_building/iphone_business.webp" alt="">
                <div class="container">
                    <h4>Google Business</h4>
                </div>
            </div>
        </div>

        <div class="card item10 hidden reveal-left">
            <div class="card-border"></div>
            <div class="card-content">
                <div class="container">
                    <h4>Content Management System</h4>
                </div>
            </div>
        </div>

        <div class="card item11 hidden reveal-right">
            <div class="card-border"></div>
            <div class="card-content">
                <img src="/img/website_building/integrations.webp" alt="">
                <div class="container">
                    <h4>Social Media Integrations</h4>
                </div>
            </div>
        </div>
        
        <div class="card item12 hidden reveal-right">
            <div class="card-border"></div>
            <div class="card-content">
                <img src="/img/website_building/GDPR-badge.webp" alt="">
                <div class="container">
                    <h4>GPDR Compliant</h4>
                </div>
            </div>
        </div>

    </div>

    <script src="/scripts/hover_boxes.js"></script>
</section>

<script src="/scripts/reveal-animation.js"></script>